.wrapper {
  display: flex;
  width: 100%;

  &--66-33 {
    > *:nth-child(1) {
      width: 66%;
    }

    > *:nth-child(2) {
      width: 33%;
    }

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      > *:nth-child(1), > *:nth-child(2) {
        width: 100%;
      }
    }
  }

  &--50-50 {
    > *:nth-child(1) {
      width: 50%;
    }

    > *:nth-child(2) {
      width: 50%;
    }

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      align-items: center;
      > *:nth-child(1), > *:nth-child(2) {
        width: 100%;
      }
    }
  }

  &--33-66 {
    > *:nth-child(1) {
      width: 33%;
    }

    > *:nth-child(2) {
      width: 66%;
    }

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      > *:nth-child(1), > *:nth-child(2) {
        width: 100%;
      }
    }
  }
}