.press-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__cards-container {
    display: flex;
    gap: var(--spacing-24);
    justify-content: center;
    align-items: center;
    width: 100%;
    &__card {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: column;
      height: 350px;
      padding: var(--spacing-16) var(--spacing-16);
      gap: var(--spacing-40);
      width: 50%;
      background: var(--color-neutral-100);
      box-shadow: var(--spacing-12) var(--spacing-12) var(--spacing-64) rgba(0, 19, 41, 0.12);
      border-radius: 6px;
      flex: none;
      order: 0;
      flex-grow: 0;
      position: relative;

      & h3 {
        font-family: var(--font-family-heading);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-2);
        text-align: center;
        color: #192542;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &__content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-24);

        &__svg-container {
          // max-width: 30%;
          width: 92px;
          margin-right: var(--spacing-24);
        }

        & svg {
          width: 130px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & use {
          transform: scale(200%) translateY(5px);
          
        }

        &__text-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          font-weight: var(--font-weight-bold);
          
          
          & li {
            // width: 345px;
            font-family: var(--font-family-heading);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-large);
            color: var(--color-neutral-0);
          }

          &__text {
            font-weight: var(--font-weight-bold);
            width: 345px;
            font-family: var(--font-family-heading);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-large);
            color: var(--color-neutral-0);
          }

          & h4 {
            font-family: var(--font-family-heading);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-large);
            color: var(--color-neutral-0);
            text-align: left;
            margin-bottom: var(--spacing-16);
            justify-content: start;
          }
        }
      }

      & a {
        position: absolute;
        bottom: 17px;
        right: var(--spacing-40);
      }

      & iframe {
        width: 45%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .press-container {
    &__cards-container {
      flex-direction: column;
    }
  }

  .press-container__cards-container__card {
    min-width: 80%;
  }


  .press-container__cards-container__card {
    gap: var(--spacing-16);
    width: 100%;
  }

  .press-container__cards-container__card__content {
    min-width: 100%;
    margin-left: -var(--spacing-24) ;
    margin-top: var(--spacing-32);
  }

  .press-container__cards-container__card__content__svg-container {
    transform: scale(60%);
    min-width: 35%;
  }

  .press-container__cards-container__card__content__text-container{
    font-size: var(--font-size-medium);
    max-width: 60%;
  }
  .press-container__cards-container__card__content__text-container li{
    font-size: var(--font-size-medium);
    max-width: 100%;
  }
  .press-container__cards-container__card__content__text-container p{
    font-size: var(--font-size-medium);
    max-width: 100%;
  }

  .press-container__cards-container__card__content img {
    transform: scale(60%);
    max-width: 50%;
  }

  .press-container__cards-container__card__content {
    justify-content: center;
    // padding: 0 var(--spacing-16);
  }
}
