.insurance-partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-48);
  padding: var(--spacing-64) var(--spacing-48);
  width: 100%;
  background-color: var(--color-secondary-70);

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 160px;
  }
}