.article-card {
  $self: &;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 300px;
  height: fit-content;

  &__image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    background-color: var(--color-neutral-70);
    border-radius: var(--border-radius-small);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }

  &__date {
    font-size: var(--font-size-tiny);
    color: var(--color-secondary-20);
  }

  &__excerpt {
    font-size: var(--font-size-small);
    padding-bottom: var(--spacing-16);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-8);
  }

  &--reversed {
    flex-direction: column-reverse;
  }

  &--background {
    width: fit-content;
    padding: var(--spacing-16);
    background-color: var(--color-secondary-90);
    border-radius: var(--border-radius-small);
  }

  &--horizontal {
    flex-direction: row;
    gap: var(--spacing-16);
    width: 600px;
  }
}