.promo-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-48);
  width: 100%;
  position: relative;

  @media screen and (max-width: 480px) {
    padding: var(--spacing-48) var(--spacing-16);
    gap: var(--spacing-16);
  }

  .owl-controls {
    position: absolute;
    inset: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: var(--spacing-48) 13vw;
    width: 100%;
    height: fit-content;

    @media screen and (max-width: 1280px) {
      padding: var(--spacing-16);
    }

    @media screen and (max-width: 480px) {
      display: none;
    }

    .owl-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--breakpoint-tablet-large);
  }

  &__image {
    border-radius: var(--border-radius-medium);
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
}