.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-secondary-20);

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size var(--motion-duration-short) var(--motion-easing-standard);

  &:hover {
    background-size: 100% 1px;
  }

  &--arrow {
    &::after {
      font: var(--fa-font-solid);
      font-size: 8px;
      content: "\f054";
    }
  }

}