.alta-in-number {
  width: 100%;
  background-color: #FFF7F5;

  & > h3 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #001329;
    margin-bottom: 47px;
    margin-top: 60px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 60px;

    &__card {
      width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h3 {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #ff6442;
      }

      & p {
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .alta-in-number__cards {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}