@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");

.history-section {
  width: 100%;
  user-select: none;
  & > h3 {
    text-align: center;
    margin-bottom: 40px;
  }
  &__cards-section {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__cards {
      width: 100%;
      overflow: hidden;
      // gap: 1.5%;
      display: flex;
      // flex-direction: row-reverse;
      z-index: 0;

      &__card {
        padding: 0 10px;
        min-width: 25%;
        user-select: none;
        transition: transform 0.2s cubic-bezier(.4, .2, .4, .8);
        will-change: transform;
        cursor: pointer;
        overflow: hidden;
        
        &__header {
          border-radius: 8px 8px 0 0;
          background: #ffefeb;
          position: relative;
          display: flex;
          align-items: center;
          transition: background-color 0.6s;
          
          & h3 {
            font-family: "Gravitas One";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #001329;
            padding: 24px 18px;
          }
          
          & svg {
            position: absolute;
            right: 2px;
            top: 2px;
          }
        }
        
        &__body {
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 24px 16px;
          gap: 16px;
          background: #fff7f5;
          text-align: center;
          font-family: "Open Sans";
          font-size: 12px;
          color: #001329;
          border-radius: 0  0 8px 8px;
        }
      }
    }

    & svg {
      cursor: pointer;
    }


  }
}


@media screen and (max-width: 1280px) {
  .history-section__cards-section__cards__card {
    min-width: 100%;
  }
}