.home-hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-32) var(--spacing-128) var(--spacing-64);

  width: 100%;
  height: 40vh;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-24);
  }

  &__title {
    color: var(--color-primary-50);
  }

  .button, .breadcrumb {
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 1280px) {
    padding: var(--spacing-32) var(--spacing-64) var(--spacing-64);

    &__row {
      gap: var(--spacing-8);
    }
  }

  @media screen and (max-width: 768px) {
    padding: var(--spacing-32) var(--spacing-40) var(--spacing-64);
  }

  @media screen and (max-width: 480px) {
    padding: var(--spacing-24) var(--spacing-24) var(--spacing-32);
    height: 50vh;

    &__column {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
    }

    &__row {
      flex-direction: column-reverse;
      gap: 0;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

}