.home-hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-80) var(--spacing-128);

  width: 100%;
  height: 50vh;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    -webkit-mask-image: -webkit-gradient(linear, left 66%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
  }

  &__navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: var(--spacing-32) var(--spacing-128);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-16);
    width: 100%;
  }

  @media screen and (max-width: 1280px) {
    padding: var(--spacing-32) var(--spacing-64);
  }
}